#root {
  display: flex;
  padding: 18pt;
  justify-content: center;
  text-align: center;
  background-color: #faf8ef;
  width: 100vw;
  height: 100vh;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20pt;
}

.header-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.title {
  font-size: 60pt;
  font-weight: 900;
  align-items: center;
  color: #776e65;
  line-height: 1.2;
}

.sub-title {
  font-size: 14pt;
  font-weight: 500;
  padding-left: 2pt;
  color: #776e65;
}

.sub-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.replay-button {
  font-size: 14pt;
  font-weight: 600;
  padding: 6pt 16pt;
  background-color: #8f7a66;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12pt;
  padding: 12pt;
  background-color: #bbada0;
  border-radius: 0.4rem;
}

.row {
  display: contents;
}

.cell {
  width: 100pt;
  height: 100pt;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24pt;
  border-radius: 0.4rem;
}

.cell-2 {
  font-size: 45pt;
  background-color: #eee4da;
  color: #776e65;
}

.cell-4 {
  font-size: 45pt;
  background-color: #ede0c8;
  color: #776e65;
}

.cell-8 {
  font-size: 45pt;
  background-color: #f2b179;
  color: white;
}

.cell-16 {
  font-size: 45pt;
  background-color: #f59563;
  color: white;
}

.cell-32 {
  font-size: 45pt;
  background-color: #f67c5f;
  color: white;
}

.cell-64 {
  font-size: 45pt;
  background-color: #f65e3b;
  color: white;
}

.cell-128 {
  font-size: 45pt;
  background-color: #edcf72;
  color: white;
}

.cell-default {
  background-color: #cdc1b4;
  color: #776e65;
}

.game-over {
  color: #776e65;
  font-weight: 700;
  font-size: 30pt;
  margin-top: 6pt;
}

.replay {
  color: red;
  font-weight: bold;
  font-size: 28pt;
}

.underline {
  text-decoration: underline;
}
